body{
    background-size:cover;
}
#ISI{
    margin: auto;
    width: 50%;
    //border: 3px solid green;
    padding: 10px;
}
.foto{
    display:flex;
    margin-top:150px;
}
.home{
    background:#CEE7FA;
    font-size: 64px;
}

.bawah{
    background:black;
}

.bullet{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }
.text{
    text-align:justify;
    //border:green solid 3px;
}
.text-tentang{
    display:outline-inline;
    width:auto;
    margin-right:250px;
    margin-left:250px;
    padding-right:40px;
    padding-left:40px;
}
.text-wrapper{
    text-align:justify;
    margin-left: 60px;
    width:1000px;
    height:auto;
}
#quiz-container {
	width: 500px;
	margin: auto;
	text-align: center;

}


#question {
	margin-bottom: 20px;
}


#choices {
	margin-bottom: 20px;
}


button {
	padding: 10px 20px;
	font-size: 20px;
}


#result {
	margin-bottom: 20px;
	font-size: 20px;
	color: green;
}